---
name: Create Alice on Stage after Deployment

on:
  workflow_dispatch:

jobs:
  create:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          lfs: 'true'  # take care not to exceed the monthly quota 
          # https://docs.github.com/en/billing/managing-billing-for-your-products/managing-billing-for-git-large-file-storage
      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Install DSP-TOOLS
        run: pip3 install dsp-tools
      - name: Create project
        run: dsp-tools --suppress-update-prompt create -s api.stage.dasch.swiss -u dasch@dasch.swiss -p "$PW" daschland.json
        env:
          PW: ${{ secrets.DASCH_USER_PW_PROD }}
      - name: Upload data
        run: dsp-tools xmlupload --suppress-update-prompt -s api.stage.dasch.swiss -u cheshire.cat@dasch.swiss -p 'alice9548' daschland_data.xml
