---
name: Create Alice on Stage after Deployment

on:
  workflow_dispatch:

jobs:
  create:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Install Python dependencies (uv will install python automatically, if no appropriate version is installed)
        run: uv sync --all-extras --dev
        shell: bash
      - name: Create project
        run: uv run dsp-tools create -s api.stage.dasch.swiss -u dasch@dasch.swiss -p "$PW" daschland.json
        env:
          PW: ${{ secrets.DASCH_USER_PW_PROD }}
      - name: Upload data
        run: uv run dsp-tools xmlupload -s api.stage.dasch.swiss -u cheshire.cat@dasch.swiss -p 'alice9548' daschland_data.xml
